.login-form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

.title {
    font-size: 40px;
    color: brown;
}

.login-form input {
    margin-top: 20px;
    padding: 10px;
}